@import "tailwindcss";

@font-face {
  font-family: "Poppins-Black";
  src: url("/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("/assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("/assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

@theme {
  --font-poppins-black: "Poppins-Black", "sans-serif";
  --font-poppins-regular: "Poppins-Regular", "sans-serif";
  --font-poppins-bold: "Poppins-Bold", "sans-serif";
  --font-poppins-extra-bold: "Poppins-ExtraBold", "sans-serif";
  --font-poppins-medium: "Poppins-Medium", "sans-serif";
  --font-poppins-light: "Poppins-Light", "sans-serif";
  --font-poppins-semi-bold: "Poppins-SemiBold", "sans-serif";
  --font-poppins-thin: "Poppins-Thin", "sans-serif";
  --font-poppins-extra-light: "Poppins-ExtraLight", "sans-serif";

  --color-primary-bg: #ffff;
  --color-primary-text: #b5c6e0;
}

body {
  background-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
